@import "tailwindcss";


@layer utilities{
  .animation-delay-0 {
    animation-delay: 0ms;
  }
  .animation-delay-1 {
    animation-delay: 100ms;
  }
  .animation-delay-2 {
    animation-delay: 200ms;
  }
}